:root {
    --span-label-color: #868686;
    --border-line-gray-color: #cbcbcb;
    --link-color: #4284F3;
    --logo-text-color: #7737C7;
    --focus-block-bc: #ffdec9;
}

.me-top {
    display: flex;
    flex-direction: column;
}


.pages>div.page {
    display: flex;
    flex: 100%;
    flex: 0 0 auto;
}

.mobile .pages>div.page {
    display: flex;
    flex-direction: column;
    flex: 100%;
    flex: 0 0 auto;
}

.page>.main {
    flex: 0 0 60%;
}

.page>.sidebar {
    flex: 0 0 40%;
}

.mobile .page>.main {
    flex: 0 0 30%;
}

.mobile .page>.sidebar {
    flex: 0 0 70%;
}




.fa-sidebar-flip {
    display: block;
    float: right;
}


.me-mla {
    margin-left: auto;
}

.me-mra {
    margin-left: auto;
}


.main-content,
.pages,
.pages>.page {
    height: 100%;
}

.page.more,
.page.home,
.page>.main,
.page>.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: auto;
}

.page.more,
.page.home {
    margin-top: 30px;
}

.page>.sidebar {
    background-color: #f7f8f8;
    flex: 0 0 40%;
}

.page>.sidebar>.content {
    margin: 10px 20px;
}

.tag-item .arrow-icon {
    color: gray;
}

.page .sidebar>.header {
    display: flex;
    padding: 10px 15px;
    padding-bottom: 0px;
}

.page .sidebar>.header span:first-child {
    font-size: 1.2em;
    font-weight: 500;
    display: none;
}

.page .sidebar>.tabs {
    display: flex;
    padding: 10px 15px;
}

.page .sidebar>.tabs .tab {
    flex: 1;
    display: flex;
    justify-content: center;
    opacity: 0.3;
    cursor: pointer;
}

.page .sidebar>.tabs .tab.active {
    opacity: 1;
    border-bottom: 3px solid var(--link-color);
    padding-bottom: 10px;
    margin: 0px 15px;
    color: var(--link-color);
}




span.me-bold {
    font-weight: 700;
    padding: 0px !important;
    margin: 0px !important;
    color: #4f4f4f
}

.que-div .explanations .page-link {
    color: black;
    border-left: 3px solid #7171e0;
    padding: 10px;
    background-color: #f0f0f0;
    margin: 0px;
    line-height: 25px;
}

span.me-highlight {
    background-color: #ffff0085;
    padding: 0px 3px !important;
    margin: 0px !important;
}

* {
    font-family: "Inter", sans-serif;
    font-size: 14px;
}

body {
    background-color: #1A1F26;
}

i,
.link {
    cursor: pointer;
}

button {
    background-color: transparent;
    padding: 10px;
    border-radius: 5px;
    color: var(--link-color);
    cursor: pointer;
    border: 1px solid var(--link-color);
}

body>.content {
    height: 100%;
    background-color: white;
    width: 100%;
    max-width: 1200px;
    height: 100%;
    overflow-y: scroll;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.link,
span.link {
    color: var(--link-color);
}

i.menu {
    padding: 5px;
    cursor: pointer;
}





span.logo {
    display: flex;
    color: var(--logo-text-color);
    font-size: 25px;
    justify-content: center;
    align-items: center;
}

span.logo::before {
    display: none;
    content: "R";
    padding: 6px 9px;
    background-color: white;
    border-radius: 22px;
    color: black;
    font-size: 15px;
    font-weight: 800;
    margin-right: 5px;
}

.top i::before {

    font-size: 20px;
}

.content .middle_ {
    padding: 10px 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 5px solid #b7b2b2;
    border-top: 5px solid #b7b2b2;

}

.que-actions {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 7px 15px;
    border-top: 2px solid #bebebe;
}








.que-div .option {
    display: flex;
    align-items: flex-start;
    margin: 7px 0px;
    padding: 7px;
    border-radius: 2px;
    background-color: #e2eaf7;
    cursor: pointer;
}

.que-div .option span:first-child {
    margin: 0px 6px;
    display: flex;
    justify-content: center;
    background-color: #797979;
    border-radius: 31px;
    color: white;
    width: 18px;
    height: 18px;
    align-items: center;
    font-size: 0.8em;
    margin-right: 13px;
}

.que-div .option span.text {
    flex: 1;
}

.que-div .option.correct {
    background-color: #bbeabb;
    border: 0px solid green;
    color: black;
}

.que-div .option.wrong {
    background-color: #f9dfdf;
    border: 0px solid red;
    color: black;
}


.page.random>.middle {
    border-top: 0px solid #cbcbcb;
    border-bottom: 0px solid #cbcbcb;
    padding-bottom: 21px;
    /*max-height: 70vh;
    overflow-y: scroll;*/
}

.sd-container {
    position: relative;
    float: left;
}

.sd {
    padding: 5px 10px;
    height: 30px;
    width: 150px;
}

.open-button {
    position: absolute;
    top: 10px;
    right: 11px;
    width: 25px;
    height: 25px;
    background: #fff;
    pointer-events: none;
}

.open-button button {
    border: none;
    background: transparent;
    font-size: 24px;
}

#date-picker {
    width: 25px;
    border: none;
    margin-bottom: 15px;
    /*font-size: 29px;
    margin-left: 13px;*/
    background-color: transparent;
}

#date-picker:focus {
    outline: none;
    /* Remove the default outline that appears on focus */
    border: none;
    /* Ensure the border remains none on focus */
}

.que-text {
    margin: 10px;
}

.content .middle .option.selected.correct,
span.option.correct-ans {
    background-color: #b6ebb6;
    border: 0px solid green;
}

.content .middle .option.selected.wrong,
span.option.wrong-ans {
    background-color: #efaab1;
    border: 0px solid red;
}

.fa-arrows-rotate:before {
    content: "\f021";
    color: gray;
    font-size: 23px;
    margin: 0px 8px;
}

.hide {
    display: none !important;
}

.que-tags {
    border-top: 1px solid rgb(176, 176, 176);
    margin: 5px;
    margin-top: 32px;
    padding: 10px;
}

.que-div {
    padding: 10px;
    width: min(370px, 90%);
}



/* prev mock test questions*/
.index-tags .que-div {
    margin: 15px !important;
}

.que-div .question {
    display: flex;
    align-items: start;
    padding: 10px 0px;
}


.que-div .question .num {
    width: 23px;
    margin-right: 7px;
    padding: 0px 3px;
    border-radius: 2px;
}

.que-div .question .text {

    font-weight: 550;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.que-div .question span {
    font-size: 1em;
    line-height: 25px;
    color: #534f4f;
}

.upsc .random .que-div .question .text {
    font-size: 1em;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.random .bottom {
    min-height: 50px;
    display: flex;
    align-content: center;
    padding: 20px 0px;
    border-bottom: 0px solid var(--border-line-gray-color);
}




.me-pic-name {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.about-me .me-pic-name img {
    width: 200px;
    height: 200px;
    border-radius: 127px;
}

.about-me .me-pic-name span {
    font-size: 2em;
    font-weight: 700;
}

.about-me .social-media {
    display: flex;
    gap: 10px;
    justify-content: start;
    align-items: center;
    margin: 20px;
}

.about-me-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.about-me-text span {
    line-height: 23px;
}

.about-me-text span:nth-child(2) {
    margin-top: 30px;
    font-size: 1.5em;
    font-weight: 600;
}

.prev-mock-ques.list {
    background-color: #e1e1ff;
    padding: 10px 0px;
    margin: 10px 0px;
    max-height: 50vh;
    overflow-y: scroll;

}

.about-me-text span:nth-child(n+3)::before {
    content: "• ";
    /* Bullet point with a space after */
}

.home .social-media img {
    width: 35px;
    height: 35px;
    border-radius: 127px;
}

.mobile .home .social-media img {
    width: 25px;
    height: 25px;

}

button.new-question {
    border-radius: 5px;
    width: min(370px, 90%);
    margin: 10px 15px;
    background-color: #e4e4e4;
    color: #49494d;
    border: none;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    display: inline-block;
}

button.new-question:hover_ {
    background-color: #4f37da;
}

.add-que {
    padding: 15px;
    background-color: beige;
}

.add-que textarea {
    padding: 10px;
}

.add-que .option {
    padding: 5px;
    margin: 10px 0px;
}

.d-f-v {
    display: flex;
    flex-direction: column;

}


.me-cp {
    cursor: pointer;
}

.option.disabled {
    pointer-events: none;
    cursor: default;
}

.setting {
    margin-left: auto;
}

.setting i::before {
    font-size: x-large;
}


.tags {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    white-space: nowrap;
}

span.cross {
    cursor: pointer;
    font-size: 0.8em;
    border: 1.5px solid black;
    border-radius: 50%;
    padding: 2px 5px;
}

.tag {
    margin: 4px;
    padding: 3px 10px;
    background-color: #efefef;
    color: #4680ff;
    border-radius: 17px;
    display: inline-block;
    margin-right: 5px;
    font-size: 0.8em;
    border: 1px solid #4680ff;
    cursor: pointer;
}



.calender {
    display: flex;
}

.que-count {
    margin-left: 12px;
}

.calendar-icon {
    cursor: pointer;
    font-size: 23px;
    margin-right: 14px;
    margin-left: 14px;
}

div.toc-list {
    padding-left: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid gray;
}

.me-autocomplete-list {
    border: 1px solid gray;
    padding: 4px 10px;
    background-color: white;
    max-height: 200px;
    position: absolute;
    overflow-y: auto;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 999;
}

.me-autocomplete-list {
    display: none;
}

.me-autocomplete-list.active {
    display: block;
}

.me-autocomplete-list div {
    padding: 5px 10px;
    cursor: pointer;
}

.me-autocomplete-list div:hover {
    background-color: rgb(212, 201, 201);
}

span.check-ans {
    display: block;
    text-align: center;
    border: 0px solid gray;
    padding: 7px;
    background-color: #f4e8ff;
    color: rgb(92, 92, 246);
    margin: 0px 13px
}

.all-tags.tags {
    flex-wrap: wrap;
    margin: 20px;
    max-height: 200px;
}

.check-ans.me-ans {
    color: black;
    padding: 7px;
    background-color: #c9ffc9;
}

.add-new-que {
    position: fixed;
    bottom: 20px;
    /* Adjust this value to change the distance from the bottom */
    right: 20px;
    /* Adjust this value to change the distance from the right */
    width: 50px;
    /* Adjust the width of the icon */
    height: 50px;
    /* Adjust the height of the icon */
    background-color: #e0e0e0;
    /* Change this to your desired background color */
    border-radius: 50%;
    /* Makes the icon circular */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    /* Changes the cursor to a pointer when hovering over the icon */
}

.remove-tag {
    cursor: pointer;
}

.link.remove-que {
    margin-left: auto;
}

.me-popup-alert {
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #F6DDCC;
    padding: 7px 40px;
    border-radius: 3px;
    width: 70%;
    text-align: center;
    /*width: fit-content;*/
}

.filtered-tags {
    display: block;
}

span.filter-ques-count {
    font-weight: normal;
    margin: 6px 0px;
    display: block;
}

span.all-tags {
    min-width: 100px;
    margin: 10px;
    margin-left: auto;
}

.link {
    color: #6464f4;
    cursor: pointer;
}

.update-gist {
    margin-top: 35px;
    width: fit-content;
    display: flex;
    float: left;
    color: blue;
    background-color: transparent;
    border: none;
    margin-left: auto;
}

.search-filter {
    border: 0px solid gray;
}

.head-filter-tag {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 12px;
}

.head-filter-tag i.fa-search {
    margin-left: auto;
}

.filter-section input.filter,
input.search-filter {
    border: 1px solid gray;
    padding: 5px;
    border-radius: 26px;
    display: flex;
    align-items: center;
    text-align: center;
}

.filter-section .filter i,
.filter-section .filter span {
    color: var(--link-color);
    font-size: 0.8em;
}

.prev-ques-list {
    display: flex;
    margin: 10px 20px;
    flex-wrap: wrap;
}

.prev-ques-list .prev-que {
    border: 0px solid gray;
    padding: 6px;
    border-radius: 34px;
    width: 7px;
    height: 7px;
    margin: 3px;
    display: flex;
    align-items: center;
    color: #2d375f;
    font-size: 9px;
    justify-content: center;
}

.prev-ques-list .prev-que.correct-ans {
    background-color: #b6ebb6;
}

.prev-ques-list .prev-que.wrong-ans {
    background-color: #efaab1;
}

div.prev-que.active {
    background-color: transparent;
    border: 2px solid blue;
}

div.today-que-info,
div.starred-ques {
    border-top: 3px solid #cbcbcb;
    border-bottom: 0px solid #cbcbcb;
    margin: 15px 0px;
    padding: 10px 0px;
}

span.label {
    color: var(--span-label-color);
}

div.today-que-info span.label {
    color: var(--span-label-color);
    margin: 10px 20px;
}

div.today-que-info .que-text {
    border-top: 1px solid gray;
    margin: 0px 13px;
}

i.refresh {
    margin-left: auto;
}

i.fa-bars.menu-icon {
    font-size: 20px;
}

.me-dis-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.today-que-info div.links {
    margin: 3px 22px;
}

div.today-que-info span.link.show-all {
    margin-right: auto;
}

div.today-que-info div.all-que-text {
    border-top: 0px solid gray;
    margin: 10px 22px;
    max-height: 300px;
    overflow-y: scroll;
}

div.today-que-info div.all-que-text .que-div {
    border-bottom: 1px solid gray;
    margin-top: 10px;
    padding-bottom: 10px;
    width: 95%;
}

.mobile-tab.overlay {
    position: absolute;
    display: block;
    top: 0;
    right: -300px;
    height: 100%;
    z-index: 1000;
    overflow-y: auto;
    transition: right 0.9s ease-in-out;
    background-color: #183052;
    width: 77%;
}

.mobile-tab .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 29px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.mobile-tab.overlay .tab {
    display: flex;
    align-items: center;
    align-content: center;
    gap: 10px;
    margin: 10px 0px;
    cursor: pointer;
}

.mobile-tab.overlay .tab span.label,
.mobile-tab.overlay .tab i {
    color: white;
}

div.tab.separator {
    border: 1px solid gray;
    margin: 10px 0px;
}

.mobile-tab .tab-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    padding-top: 65px;
}

.mobile-tab button {
    padding: 10px;
    margin: 0px;
    background-color: inherit;
    color: var(--header-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: left;
    font-size: var(--font-size);
}

.mobile-tab.overlay button.tab.save {
    display: flex;
    border: 0px;
    background-color: #6ec76e;
    width: fit-content;
    padding: 4px 17px;
    margin-left: auto;
}

/* About me page css*/
.about-me {
    margin-bottom: 30px;
}


.about-me div.image {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Optional: set a fixed width and height for the div if needed */

    height: 150px;
    border-radius: 85px;
}

.about-me div.image img {
    /* Optional: set a max-width to prevent the image from overflowing */
    max-width: 100%;
    max-height: 100%;
    border-radius: 100px;
}

.cat-visibility::before {
    color: var(--label-color);
}




.about-me div.text {
    display: block;
}

.about-me .row {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.about-me .row.social-media img {
    width: 30px;
    margin: 7px;
}

.about-me div.text {
    display: flex;
    flex-direction: column;
}

.about-me .head {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #313285;
    margin: 41px 0px;
}

.about-me .head * {
    color: white;
}

.about-me .head h1 {
    font-size: 1.5em;
    padding: 0px 16px;
}

.about-me .head span {
    margin-left: auto;
    margin-right: 15px;
    border: 2px solid white;
    padding: 3px 6px;
    border-radius: 12px;
    cursor: pointer;
}

.about-me span.text {

    padding: 7px 15px;
    line-height: 1.5em;
    font-size: var(--font-size);
}



.que-icons {
    display: none;
    margin: 10px;
    padding: 10px 0px;
    border-top: 1px solid #bababa;
}

.section.starred-questions {
    border-top: 3px solid var(--border-line-gray-color);
    padding: 15px;
}


.filter-tags-section {
    border-bottom: 0px solid var(--border-line-gray-color);
    padding: 0px;

    margin: 0px 20px;
}

.link.filter-tag::before {
    content: "•";
    color: var(--link-color);
    margin-right: 5px;
}

.filter-section {
    margin: 5px 20px;
    border-bottom: 0px solid gray;
    padding: 3px 0px;
}

.filter-section:has(.filtered-tags .tag) .filtered-tags::before {
    content: "Filter: ";
}

.filter-section .filter-ques-count {
    display: none;
}

.filter-section:has(.filtered-tags .tag) .filter-ques-count {
    display: block;
}



.filter-tags-section .search-filter,
.filter-section i.search {
    margin-left: auto;
    margin-bottom: 0px;
}

.filter-tags-section>span.link {
    border: 1px solid var(--link-color);
    padding: 5px;
    border-radius: 3px;
}

.filter-tags-section span.link.text {
    color: black;
}

.filter-tags-list {
    display: none;
}

.filter-tags-list:has(.link) {
    display: flex;
    flex-direction: column;
    margin: 10px;

    gap: 5px;
    max-height: 200px;
    overflow-y: scroll;
    margin: 10px 0px;
    margin-left: 20px;
}

.filter-tags-list .filter-tag.level-0 {
    margin-top: 5px;
}

.filter-tags-list .filter-tag.level-1 {
    margin-left: 10px;
}

.filter-tags-list .filter-tag.level-2 {
    margin-left: 25px;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

.load-animation {
    display: flex;
    align-items: center;
}

.load-animation span {
    font-size: 24px;
    color: #333;
    margin-left: 10px;
    animation: fadeInOut 1.5s infinite;
}

.load-animation::before {
    content: '';
    width: 24px;
    height: 24px;
    border: 4px solid #3498db;
    border-top: 4px solid transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes fadeInOut {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }
}

/*correct-option animation */



.correct-ans-animation {
    background-color: #4CAF50;
    /* Green */
    color: white;
    transform: scale(1.1);
    animation: correctAnswerAnimation 0.5s forwards;
}

@keyframes correctAnswerAnimation {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

/* Confetti animation */
@keyframes confetti {
    0% {
        opacity: 1;
        transform: translateY(0) rotate(0deg);
    }

    100% {
        opacity: 0;
        transform: translateY(200px) rotate(720deg);
    }
}

/* Confetti particles */
.confetti {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #FFD700;
    /* Gold */
    animation: confetti 1s forwards;
    opacity: 0;
}

.main.tabs {
    display: flex;
    flex-wrap: nowrap;
    max-width: 100%;
    overflow-x: auto;
    height: 45px;
    /* Use auto to show scroll only when needed */
    -webkit-overflow-scrolling: touch;
    /* Smooth scrolling on touch devices */
    border-bottom: 1px solid gray;
    ;
}

.main.tabs .tab {
    flex: 0 0 auto;
    padding: 10px;
    margin: 0px;
    /* background-color: #f0f0f0; */
    border: 0px solid #ccc;
    cursor: pointer;
    text-align: center;
    color: gray;
    border-bottom: 0px solid gray;
    -webkit-overflow-scrolling: touch;
    /* Smooth scrolling on touch devices */
    scrollbar-width: none;
    /* For Firefox */
    -ms-overflow-style: none;
    /* For Internet Explorer and Edge */
}


.main.tabs .tab::-webkit-scrollbar {
    display: none;
    /* For Chrome, Safari, and Opera */
}

.main.tabs .tab.active {
    color: var(--link-color);
    border-bottom: 3px solid var(--link-color);
}


div.mock-test div.top {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cda5fe;
    padding: 18px;
    border: 0px;
}

div.mock-test div.top .submit-test {
    margin: 0px 15px;
    background: #5CB85B;
    color: white;
    padding: 6px 10px;
    border-radius: 3px;
    margin-left: auto;
    cursor: pointer;
}

div.mock-test div.top .cross {
    cursor: pointer;
    background: #130f2b;
    color: white;
    padding: 6px 8px;
    border-radius: 23px;
}

div.timer {
    border: 0px solid gray;
    padding: 6px 8px;
    border-radius: 2px;
    background-color: black;
}

div.timer span.timer {
    color: white;
    margin: 0px 8px;
}


.result {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
    gap: 10px;

}

.result-item {
    display: flex;
    gap: 15px;
    width: 100%;
    margin-bottom: 10px;
}

.result-label {
    font-weight: bold;
    color: #333;
}

.result-value {
    font-weight: normal;
    color: #555;
}

.result-chart {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
}

.chart-bar {
    height: 30px;
    border-radius: 5px;
    text-align: center;
    line-height: 30px;
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
    transition: width 1s ease-in-out;
}

.correct-bar {
    background-color: #4caf50;
    /* Green for correct answers */
    width: 0;
    /* Initial width for animation */
}

.unattempted-bar {
    background-color: #9e9e9e;
    /* Gray for unattempted questions */
    width: 0;
    /* Initial width for animation */
}

.incorrect-bar {
    background-color: #f44336;
    /* Red for incorrect answers */
    width: 0;
    /* Initial width for animation */
}


div.mock-test .que-list-dots {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 15px;
    border-top: 0px solid #d2d2d2;
    border-bottom: 3px solid #d2d2d2;
}

/*
.que-list-dots .que-dot.unselected {
    border: 1px solid gray;
    padding: 4px 5px;
    
    border-radius: 20px;
    color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}
*/

div.que-dot {
    cursor: pointer;
    width: 27px;
    /* Adjust the size as needed */
    height: 27px;
    /* Make sure width and height are equal to make a perfect circle */
    border: 1px solid gray;
    border-radius: 50%;
    /* This makes the element a circle */
    color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    /* Adjust font size as needed */
    text-align: center;
    line-height: 30px;
    /* This should be equal to the height for proper vertical alignment */
}


.mock-test .que-div .option.selected {
    background-color: #ffc7a6;
}

.mock-test .que-div .que-actions {
    display: none;
}

div.que-dot {
    background-color: #ebf3ff;
    border: none;
}

div.que-dot.selected {
    background-color: #ffc7a6;
    border: none;
}

.mock-test div.que-list {
    max-height: 75vh;
    overflow-y: scroll;
    margin: 10px;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.mock-test .que-div {
    margin-top: 30px;
}

.mock-test .que-div .question {
    display: flex;
    justify-content: start;
    margin-left: 0px;
    align-items: baseline;
}

.mock-test .que-div .question .num {
    background-color: #20202e;
    padding: 5px 6px;
    color: white;
    width: 13px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    margin-right: 10px;
    font-size: 10px;
}

.mock-test-sec .que-div .option.selected {
    background-color: #ffc7a6;
}

.mock-test-sec .que-div .share-question {
    display: none;
}

.mock-test-sec .result .que-div .share-question {
    display: flex;
}

.marks span {
    font-size: 1em;
}

.editor .me-block .icons {
    display: flex;
}

.mock-test button.next-que {
    height: 30px;
    width: 80%;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.marks.passed {
    background-color: #d6f4d6 !important;
    padding: 3px;
}

.marks.failed {
    background-color: #eddbdf !important;
    padding: 3px;
}

.mock-test .result .wrong span,
.wrong,
.incorrect,
.fail {
    color: red;
}


.mock-test .result .correct span {
    color: green
}

.mock-test .result .unattempted span {
    color: gray
}

.mock-test .show-que-list {
    max-height: 70vh;
    overflow-y: scroll;
}

.fa-clock {
    color: white;
}

.result button.show-questions {
    margin-left: auto;
    border: none;
}

.mock-test .result div.top {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    padding-left: 0px;
    width: 100%;
}

.mock-test .result span.label:first-child {
    font-size: 30px;
    color: #090991;
    margin-right: auto;
}


.daily-practise-questions .circles {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
    margin: 10px;
}

.daily-practise-questions .circles .que-dot {
    cursor: pointer;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.daily-practise-questions .circles .que-dot.correct {
    background-color: #a4e8b1;
}

.daily-practise-questions .circles .que-dot.wrong {
    background-color: #ffc2c2;
}


.link.start-new-mock {
    margin: 14px;
    display: block;
    justify-content: end;
    width: fit-content;
}


div.page {
    padding: 0px;
}

button.show-toc {
    background-color: transparent;
    color: var(--link-color);
    /* border: 1px solid var(--link-color); */
    margin-left: auto;
    display: flex;
}

.me-dis-flex-co {
    display: flex;
    flex-direction: column;
}

span.toc {
    margin: 3px 0px;
}

.toc.level-1 {

    margin-left: 20px;

}

.toc.level-2 {
    margin-left: 40px;
}

.toc.level-3 {
    margin-left: 60px;
}



.block.level-1_ {
    margin-left: 15px;
}

.block.level-2_ {
    margin-left: 30px;
}

.block.level-3_ {
    margin-left: 45px;
}

.block.level-4_ {
    margin-left: 60px;
}





.que-div.focus,
.me-block-main.focus,
div.me-block.focus,
span.block.focus {
    background-color: var(--focus-block-bc) !important;
}

span.block {
    margin: 5px 0px;
    margin-top: 10px;
    line-height: 25px;
    padding: 5px;
    text-align: justify;
    display: inline;
    color: #6D6D6D;
}

:has(.page.random.hide) .que---div {
    box-shadow: 5px 9px 15px rgb(51 49 49 / 10%);
    border: 1px solid #adadad;
    border-radius: 5px;
    box-shadow: -4px 10px 13px 0px rgb(217 217 217);
    margin: 10px;
}


span.block.heading {
    color: black;
}

span.block.heading {
    font-size: 1.3em;
}


.page.add .container {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    max-width: 600px;
    margin: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.page.add h1 {
    margin-bottom: 20px;
}

.page.add .form-group {
    margin-bottom: 15px;
}

.page.add label {
    display: block;
    margin-bottom: 5px;
}

.page.add textarea,
.page.add input[type="text"],
.page.add select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.page.add .option {
    display: flex;
    align-items: center;
}

.page.add .option input[type="text"] {
    flex: 1;
    margin-left: 10px;
}

.page.add button {
    background-color: #5cb85c;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.page.add button[type="button"] {
    background-color: #0275d8;
    margin-bottom: 10px;
}

.page.add button:hover {
    opacity: 0.8;
}

.me-block-main .icon_ {
    opacity: 0.6;
    display: flex;
    gap: 2px;
    justify-content: center;
    margin: 0px auto;
    align-items: center;
}


.me-iframe-div:has(iframe) {
    _background-color: black;
    padding: 15px;
}

.me-iframe-div:has(iframe) .cross {
    color: black;
    cursor: pointer;
    font-size: 0.8em;
    border: 1.5px solid black;
    border-radius: 50%;
    padding: 2px 5px;

}

.mobile .me-iframe-div:has(iframe) {
    padding: 10px 3px;
}

.me-iframe-div iframe {
    width: min(600px, 100vw);
    height: 350px;
    margin: 10px 0px;
}

.mobile .me-iframe-div iframe {
    width: min(450px, 95vw);
    height: 280px;
}

.mobile .me-iframe-div iframe {
    height: 170px;
}


.me-iframe-div .me-iframe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.me-iframe-div .header {
    display: flex;
}

.me-iframe-div .header .cross {
    margin-left: auto;
}


.me-block-main:has(.me-block-icons:not(.hide)) {
    background-color: rgb(224, 224, 224);
}


.page.home,
.page.more,
.page>.main {
    display: flex;
    align-items: center;
}



.page.home>*,
.page.notes>.main>*,
.page.mock>.main>*,
.page.more>.main>* {
    min-width: min(700px, 90%);
}

.page.mock>.main>* {
    min-width: min(700px, 90%);
}

.mobile .page-text {
    padding: 0px;
}


.main-content>.mock-test {
    max-width: 600px;
    margin: 0px auto;
}

/* HHHH */
.page-text {
    display: flex;
    flex-direction: column;
    padding: 0px;
    border-top: 0px solid gray;
    padding: 10px 30px;
}





.block {
    margin-bottom: 1em;
}

span.block.heading {
    font-size: 1.3em;
    font-weight: 550;
}


/* Additional Styles */
.block span[style*="font-weight:bold;"] {
    font-weight: bold;
}

.block span[style*="font-style:italic;"] {
    font-style: italic;
}

.children-blocks {
    height: 75vh;
    overflow: hidden;
    overflow-y: scroll;

}



.notes .header .chapter-index {
    display: flex;
    justify-content: end;
    gap: 4px;
    color: var(--link-color);
    margin-right: 20px;
    cursor: pointer;
}

.top i.menu {
    margin-left: auto
}



.me-block {
    gap: 5px;
}

div.me-block div.icons {
    display: none;
}

.editor div.me-block div.icons {
    display: flex;
    justify-content: start;
}

div.me-block div.icons i {
    color: gray;
}

.que-div .explanations {
    margin: 0px 0px;
    padding: 15px 0px;
    border-top: 0px solid gray;
}

.que-div .explanations span {
    padding: 10px 0px;
    padding-bottom: 0px;
}



.que-div div.explanations div.me-exp-block {
    border-bottom: 0px solid gray;
    padding: 10px 0px;
}

.explanations span.link {
    margin-left: 0px;
    margin-right: 0px;
    margin: 10px;
}

div.video-exp-blocks {
    display: flex;
    justify-items: center;
    justify-content: start;
    padding: 10px;
    margin: 10px 0px;
    gap: 10px;
    border: 0px solid blue;
    cursor: pointer;
}

.logo img {
    width: 45px;
    height: 45px;
}

div.video-exp-blocks span {
    padding: 0px !important;
}

iframe {
    width: min(450px, 90vw);
    height: 250px;
    margin: 10px 10px;
}

.top #exam {
    margin-left: auto;
    padding: 5px;
    margin-right: 15px;
}

.page-iframe .close {
    color: red;
    padding: 0px 18px;
    /* margin: 10px; */
    /* margin-left: auto; */
    display: flex;
    justify-content: end;
    cursor: pointer;
}

div.add-que {
    background: #fff;
    /*border: 0px solid #dee2e6;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/
    padding: 20px;
    max-width: 600px;
    margin: 0px;
}



.add-que div.option {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 10px 20px;
    margin: 5px;
    border: 1px solid #ccc;
    cursor: pointer;

}

.add-que .option input[type="text"] {
    margin: 0px;
}

textarea.question,
textarea.explanation {
    width: 100%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    resize: vertical;
    margin-bottom: 16px;
}

.options {
    margin-bottom: 16px;
}

.option {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.option input[type="radio"] {
    margin-right: 10px;
}

.option input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

.tags {
    margin-bottom: 16px;
}

.add-tags,
.video-link,
.add-explanation input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    margin-bottom: 16px;
}

.add-explanation {
    margin: 20px 15px;
    border-top: 0px solid gray;
    padding: 20px;
    padding-left: 0px;
}

button.add-que-btn {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

button.add-que-btn:hover {
    background-color: #0056b3;
}

.me-dis-flex-co {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.me-dis-flex {
    display: flex;
}

@media (max-width: 600px) {
    .add-que {
        padding: 15px;
    }

    button.add-que-btn {
        font-size: 14px;
    }
}

.fa-play:before {
    content: "\f04b";
    border: none;
    padding: 6px 8px;
    color: white;
    background-color: red;
    border-radius: 4px;
    font-size: 9px;
}

div.video-exp-blocks span.video {
    color: var(--link-color);
}

.mock-history.list {
    margin: 10px 0px;
    max-height: 60vh;
    overflow-y: scroll;
}

.head,
.head-link {
    padding: 10px 0px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
}

.head-link {
    color: var(--link-color);
    font-size: 1em;
    margin: 0px;
    padding: 10px;
}

div.head * {
    color: black;
    font-size: 1.3em;
    margin: 0px;
    padding: 0px;

}

.mock-test-list {
    margin: 0px 20px;
}

.pre-defined-mocks .mock-test-list {
    max-width: 700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

.mock-test-list .pd-mock {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: 10px;
    border: 1px solid #cbcddf;
    padding: 15px;
    border-radius: 5px;
    width: 120px;
    box-shadow: 0px 4px 8px rgb(187 190 230 / 50%);

}

.mobile .mock-test-list .pd-mock {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: 7px;
    border: 1px solid #cbcddf;
    padding: 10px;
    border-radius: 3px;
    width: 100px;
}

.mock-history-list {
    flex-direction: row;
    max-width: 700px;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
}

.mock-history-list .mock-data {
    border: 1px solid gray;
    border-radius: 3px;
    box-shadow: 5px 4px 8px rgb(187 190 230 / 50%);
    margin: 10px;
    padding: 15px;
    width: 285px;
}

.mock-data>.date {
    margin: 0px 5px;
}

.mock-history .result {
    gap: 10px;
    padding: 0px;
}

.mock-data .show-que {
    margin-left: auto;
}

.mock-data span.date {
    font-weight: 400;
}

.reattempt-mock.link {
    display: flex;
    justify-content: end;
}

.fa-youtube:before {
    content: "\f167";
    font-size: 1.2em;
    color: #f36c6c;
}

div.divider {
    border-top: 0px solid #d8d2d2;
    margin: 0px 0px;
}

div.page:has(.mock-test-sec .que-dot) {
    padding: 0px;
}

div.page:has(.mock-test-sec.hide) {
    padding: 0px;
}

i.refresh {
    color: var(--span-label-color) !important;
}


.page>.index-tags {
    margin: 0px;
}

.me-mla {
    margin-left: auto !important;
}

.page.random div.add-explanation {
    display: none;
}

.editor .page.random div.add-explanation {
    display: flex;
}

div.me-block div.icons {
    display: none;
}

.editor div.me-block div.icons {
    display: flex;
}

.mock-data .result span {
    margin: 0px 5px;
}

.me-block.heading_,
.heading-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    background-color: #ececec;
    border-radius: 2px;
    margin: 10px 0px;
    padding: 8px;
    font-weight: 600;
    gap: 10px;
}

.focus .heading-text {
    background-color: transparent;
}

.heading-text i.video::before {
    opacity: 0.7;
}

div.support-me_ {
    display: flex;
    justify-content: stretch;
    margin: 10px;
    padding: 10px;
    background-color: #e0e0ff;
    color: var(--link-color);
    width: fit-content;
    gap: 10px;
    cursor: pointer;
}

.me-block.heading>* {
    margin-right: 5px;
    /* Adjust spacing between items */
    white-space: nowrap;
    /* Prevent text from wrapping */
}

.me-block.heading .icons {
    margin-top: 5px;
    /* Adjust spacing between text and icons */
}

.me-block.heading .fa-copy {
    margin-left: 10px;
    /* Adjust spacing between icons */
}

/*
.index-tags {
    
    top: 0;
    width: 300px;
    
    height: 100%;
    background-color: white;
    transition: right 0.3s ease;
    
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    
}



.index-tags.open {
    right: 0;
    padding-left: 13px;
    right: 0;
    padding-left: 13px;
    top: 65px;
    height: 80%;
}
*/
.index-tags {
    display: none;
    position: fixed;
    /* right: -300px; */
    top: 000px;
    width: 100%;
    height: 100%;
    border-top: 0px solid #b7b7b8;
    background-color: #ffffff;
    transition: right 0.8s ease;
    /* box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5); */
}

.page .index-tags .head {
    margin: 0px;
    padding: 10px;
    background-color: #4677c4;

}

.page .index-tags .tabs {
    display: flex;

}

.page .index-tags .tabs .tab {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 10px;
    color: var(--link-color);
    opacity: 0.3;
    cursor: pointer;
}

.page .index-tags .tabs .tab.active {
    opacity: 1;
    border-bottom: 2px solid;
    margin: 0px 15px;
}

.page .index-tags .content.lists {
    margin-top: 25px;
    padding: 0px 15px;
}

.index-tags .content .list.all {
    display: flex;
    flex-wrap: wrap;
}

.index-tags .content .list.all .tag {
    cursor: pointer;
}

.page .index-tags .head * {
    color: white !important;
}

.index-tags.open {
    /* right: 0; */
    /* padding-left: 13px; */
    /* right: 0; 
    padding-left: 13px;
    width: 97%;
    */
    display: block;

    top: 250px;
    height: 65%;

    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}


.sidebar .chapter-tag .me-tag,
.sidebar .chapter-index .me-chapter,
.index-tags .me-tag,
.index-tags .me-chapter {
    margin: 7px 5px;
}

.sidebar .chapter .tag-item:has(.link) i,
.index-tags .me-tag .tag-item:has(.link) i,
.sidebar .chapter-index .me-chapter .chapter-item:has(.link) i,
.index-tags .me-chapter .chapter-item:has(.link) i {
    color: var(--link-color);

}

.index-tags .me-tag i,
.sidebar .chapter-index i,
.index-tags .me-chapter i {
    font-size: 0.8em;
}

.sidebar .chapter-tag .me-tag .tag-item,
.sidebar .chapter-index .me-chapter .chapter-item,
.index-tags .me-tag .tag-item,
.index-tags .me-chapter .chapter-item {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 15px;
}



.me-tag>.name,
.me-chapter>.name {
    margin-left: 11px;
}

.index-tags .cross {
    /*color: black;
    border: 2px solid black;
    font-size: 0.8em;
    border-radius: 15px;
        padding: 3px 5px;
        */
    margin-left: auto;
    margin-right: 20px;

}

.sidebar .chapter-tag .level-1,
.sidebar .me-chapter.level-1,
.index-tags .level-1 {
    margin-left: 30px;
}

.sidebar .chapter-tag .me-tag>.link.name {
    margin-left: 0px;
}

.sidebar .chapter-tag .level-2,
.sidebar .me-chapter.level-2,
.index-tags .level-2 {
    margin-left: 45px;
}

.explanations .page-link img {
    width: 100%;
}

.search-results .me-search-block>span {
    line-height: 25px;
}

.sidebar .chapter-tag .level-3,
.sidebar .me-chapter.level-3,
.index-tags .level-3 {
    margin-left: 60px;
}

.sidebar .chapter-tag .level-4,
.sidebar .me-chapter.level-4,
.index-tags .level-4 {
    margin-left: 75px;
}

.tasks .tasks-list {
    margin: 15px 0px;
}

.index-tags .questions {
    max-height: 60vh;
    overflow-y: scroll;
}

.image-head {
    display: flex;
    justify-content: start;
}

.add-image {
    margin-left: auto;

}

.images-list {
    display: flex;
    flex-direction: column;
}

.images-list img {
    width: 97%;
    border: 0px solid gray;
    cursor: pointer;
}

.me-image div.top {
    display: flex;
    justify-content: end;
    gap: 10px;
    border: 0px;
}

.images-list>.me-image {
    border: 1px solid #a8a8a8;
    margin: 5px 0px;
    padding: 8px;
    border-radius: 0px;
}

.me-linked-images .show-images {
    opacity: 0;
}

.me-linked-images:has(.images-list img) .show-images {
    opacity: 1;
}

i.fa-chevron-down:before {
    content: "\f078";
}

i.fa-chevron-right:before {
    content: "\f054";
}

.mock-test-num {
    font-size: 1.5em;
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
    padding: 9px 0px;
}

.list.questions .que-div {
    margin-bottom: 10px;
    border-bottom: 1px solid black;
    padding-bottom: 15px;
}

.my-notes .head.top {
    border-bottom: 1px solid gray;
}

.my-notes .images div.image {
    display: flex;
    justify-content: center;
}

.my-notes .images img {
    width: 75%;
    cursor: pointer;
}

.my-notes .chapter-name .head * {
    color: var(--link-color);
    font-size: 1em;
}

.my-notes div.image span.link {
    font-size: 0.8em;
}




/* NOTES CSS*/

.me-block {
    display: flex;
    flex-direction: column;
}

.me-block-main {
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
    /* changed from 10,*/
    padding: 7px;
}

.me-block-text {
    display: flex;
    align-items: flex-start;
}

.me-block-text div.text {
    flex: 1;
    display: flex;
    align-items: flex-start;
    flex-direction: inherit;
}

.me-block.heading>.me-block-main .bullet,
.me-block.me-page-title>.me-block-main .bullet {
    display: none;
}

.me-block-text .text .bullet {
    width: 20px;
    box-sizing: content-box;
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius: 50%;
    width: 5px;
    height: 5px;
    background-clip: content-box;
    border: 4px solid transparent;
    background-color: #394B59;
    margin: 0px 5px;
    margin-top: 6px;
}

.me-block-text .text .text-inner {
    flex: 1;
    display: block;
    white-space: normal;
    line-height: 25px;
}

.me-block-text>div {
    width: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.me-block-text .icon_ * {
    margin: 0px 50%;
}

.me-block-text .icon_ .share {
    font-size: 0.8em;
    color: var(--link-color);
    margin-top: 7px;
}



.me-page-title>.me-block-main .me-block-text .text-inner {
    font-size: 1.5em;
    font-weight: 600;
    display: flex;
    flex-wrap: wrap;
}

.me-page-title>.me-block-main {
    border-bottom: 0px solid gray;
    padding: 5px 0px;
}

.search-results .path {
    margin: 6px 0px;
    color: #9b9b9b;
    justify-content: start;
    align-items: center;
    display: flex;
    gap: 6px;
}

.me-page-title>.children {
    max-height: 75vh;
    overflow-y: scroll;
}

.me-block-main .me-block-icons .add {
    display: flex;
    flex-direction: column;
}

.me-block .plus {
    color: var(--link-color);
    cursor: pointer;
}

.me-block .plus.active {
    color: red;
}

.me-block.heading {
    margin-top: 25px;

}

.add .icons .cross {
    color: red;
    margin-left: 42px;
}

.me-block.heading>.me-block-main .text {
    margin-left: 10px;
}

.me-block.heading>.me-block-main .me-block-text .text-inner {
    font-size: 1.3em;
    font-weight: 550;
}

.me-block-main .me-block-icons {
    margin-top: 10px;
    margin-left: 10px;

}

.me-block-main .me-block-icons .inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.me-block-main .me-block-icons .inputs input {
    padding: 5px;
}

.me-block-main .me-block-icons .inputs button.add {
    display: block;
    width: fit-content;
    padding: 5px 15px;
    background-color: #9090c3;
    color: white;
    margin-left: auto;
}

.me-block-main .linked-items .head * {
    color: var(--link-color);
    font-size: 0.9em;
    margin-left: 10px;
    gap: 5px;
}




.me-block-main .linked-items .content-list {
    margin: 15px;

}

.me-block-main .linked-items .tabs {
    display: flex;
    border: none;
    height: auto;
    gap: 10px;
    margin-left: 10px;
    cursor: pointer;
    border-left: 3px solid #ff5b5b;
    padding-left: 10px;
    margin-top: 10px;
}

.linked-items .tabs div {
    display: flex;
    justify-content: center;
    opacity: 0.2;

}

.linked-items .tabs div.active {
    opacity: 1;
    color: var(--link-color);
    border-bottom: 2px solid var(--link-color);
    padding-bottom: 7px;
}

.me-block-main .me-block-icons .add .head_,
.me-block-main .me-block-icons .add .icons {
    display: flex;
    gap: 10px;
    align-items: center;
}

.head_ .cross {
    width: 7px;
    margin-left: auto;
}

.linked-items .content-list .cross {
    display: flex;
    justify-content: end;
    margin-right: 22px;
    cursor: pointer;
}

.linked-items .content-list .video .text {
    color: var(--link-color);
    cursor: pointer;
    padding-left: 10px;
}

.linked-items .content-list .image {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.linked-items .content-list .image-inner {
    display: flex;
    justify-content: center;
}

.linked-items .content-list .image-inner img {
    width: 85%;

}

.index-tags>.list {
    margin-left: 20px;
    margin-top: 20px;
}


.new-mock .select-chapter>div:first-child {
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
    gap: 5px;
}

.new-mock .select-chapter input {
    margin: 0px 7px;
    padding: 6px;
    border-radius: 18px;
    text-align: center;
    border: 1px solid gray;
}

.page:has(.timer)>* {
    margin: 0px
}

.me-flex {
    display: flex;
    gap: 10px;
}

.me-flex-co {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.me-header.head,
.daily-practise-questions>.head,
.mock-history>.head,
.new-mock>.head {
    /*border-left: 3px solid #8585fa;
    background-color: #8585fa1a;
    padding: 11px 5px;
    margin: 10px;
    border-left: 3px solid #8585fa; */
    background-color: #afafb21a;
    padding: 11px 5px;
    margin: 10px;
    font-size: 1.7em;
    font-weight: 550;
    color: #444444;
}

.mobile .me-header.head {
    font-size: 1.5em;
    font-weight: 550;
}

.me-header-inner.head *,
.me-header.head *,
.daily-practise-questions>div.head *,
.mock-history>div.head *,
.new-mock>div.head * {
    color: #444444;
    font-size: 1em;
    margin: 0px;
    padding: 0px;
}

.daily-practise-questions .content .list {
    max-height: 70vh;
    overflow-y: scroll;
}

.filter-section .head .filter,
.filter-section .head .search {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-right: 10px;
}

.filter-section .head .filter *,
.filter-section .head .search * {
    color: var(--link-color);
    font-size: 0.8em;
    margin: 0px;
    padding: 0px;

}

.me-header-list {
    max-height: 50vh;
    overflow-y: scroll;
}



.more .data-related * {
    color: var(--link-color);
}

.more .download,
.more .import {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #92a8e4;
    border-radius: 5px;
    cursor: pointer;
}

.home .social-media {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home .social-media h1 {
    font-size: 2.5em;
    color: #444444;
}

.mobile .home .social-media h1 {
    font-size: 1.5em;
    color: #444444;
}

.hide-image-element {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    color: #d05b35;
}

.text-inner .video {
    margin-left: 10px;
    opacity: 0.7;
}

.me-block img {
    width: 90%;
}

.support-me img {
    width: 80%;
    height: auto;
}

.support-me span {
    color: #787878;
    padding: 5px 0px;
    line-height: 25px;
}

.support-me .upi {
    margin: 15px 0px;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.support-me .me-header-list {
    padding: 0px 25px;
    max-height: 100%;
}

.share-question * {
    color: var(--link-color);
}

.support-me .upi-id {
    border: 1px solid #8484e1;
    padding: 6px;
    border-radius: 4px;
    width: 160px;
    cursor: pointer;
}

.new-mock .content {
    margin: 0px 15px;
}

.new-mock .me-mock-chapter {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    margin-left: 20px;
}


.page.notes .main>.header {
    padding: 15px;
}

.pages,
.pages>.page {
    max-height: calc(100vh - 45px);
    /*overflow-y: scroll;*/
}

.pages .page .main,
.pages .page .sidebar {
    max-height: 100%;
    overflow-y: scroll;
}

.main-content:not(.mock-test.hide) {
    background-color: #1a1f26;
}

.main-content:has(.mock-test.hide),
.main-content:has(.mock-test .result),
.main-content:not(.mock-test.hide)>.mock-test {
    background-color: #f9fff9;
}

.page .sidebar .content>div {
    max-height: 80vh;
    overflow-y: scroll;
}

.page.notes .sidebar .search .top {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.page.notes .sidebar .search .top input {
    border-radius: 25px;
    border: 1px solid gray;
    width: 200px;
    text-align: center;
}

.page.notes .sidebar .search .top button.search {
    background-color: #4444ff;
    color: white;
    border-radius: 20px;
    padding: 7px 17px;
}

.me-search-block {
    margin: 20px 10px;
    cursor: pointer;
}

.page>.sidebar>.content,
.page>.sidebar>.content .search-results {
    max-height: 100%;
    overflow-y: scroll;
}

.page-title .me-iframe-div {
    position: sticky;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    top: 0px;
    z-index: 11;
}

.me-image-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    z-index: 9999;
    overflow: auto;
}

.me-image-overlay img {
    display: block;
    margin: auto;
    width: 80%;
}

.mobile .me-image-overlay img {
    width: 100%;
}

.me-image-overlay .cross {
    position: absolute;
    top: 15px;
    right: 35px;
    color: white;
    font-size: 40px;
    cursor: pointer;
    background-color: #e3e3e357;
    border-radius: 35px;
    padding: 7px 14px;

}

.me-image-overlay .prev,
.me-image-overlay .next {
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 17px 22px;
    color: white;
    font-weight: bold;
    font-size: 35px;
    cursor: pointer;
    z-index: 9999;
    background-color: #e3e3e357;
    border-radius: 35px;
}

.me-image-overlay .prev {
    left: 20px;
}

.me-image-overlay .next {
    right: 20px;
}

.home * {
    color: #444444;
}


.pages:has(.page.home:not(.hide)) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page.home {
    display: flex;
    justify-content: center;
    width: min(800px, 90%);
    align-items: center;
    text-align: center;
    margin-top: 0px;
}

.home .app-name h1 {
    font-size: 44px;
    line-height: 1.2em;
    font-weight: bold;
    margin-bottom: 20px;


}

.mobile .app-name h1 {
    font-size: 35px;

}

.app-name span {
    font-size: 1.4em;
    line-height: 33px;
    text-align: center;
}

.app-name .about-me-head {
    font-size: 2.5em !important;
    font-weight: 800;
    padding: 10px;
    width: 100%;
    display: block;
    text-align: center;
}

.mobile .app-name .about-me-text {
    font-size: 1.3em;
    line-height: 25px;
}


.page.mcq>.main {
    display: flex;
}

.page.mcq .main .question-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10px auto;
    width: min(400px, 90%);
    max-width: min(400px, 90%);
}

.tag {
    cursor: pointer;
}

.all-tags>input {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px auto;
    border-radius: 17px;
    padding: 7px;
    text-align: center;
    border: 1px solid gray;
    width: min(300px, 80%);
}

.mock-chapters .list>input {
    margin: 15px auto;
    border-radius: 3px;
    padding: 7px;
    text-align: center;
    border: 1px solid gray;
    width: min(300px, 80%);
}

.mock-chapters .me-mock-chapter {
    margin: 7px 3px;
}

.mock-chapters .mock-chapters-list {
    max-height: 50vh;
    overflow-y: scroll;
}

.mock-chapters .me-mock-chapter input {
    padding: 7px;
    width: 18px;
    height: 18px;

}


.mock-chapters .me-mock-chapter span {
    font-size: 1.15em;
    color: #565454;
}